<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="width: 380px;">
    <h4 class="mb-3 text-center">Iniciar sesión</h4>


    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div class="mb-3">
        <label class="form-label">Usuario</label>
        <input class="form-control" formControlName="username" autocomplete="username" />
      </div>
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" formControlName="password" autocomplete="current-password" />
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="remember" formControlName="remember" />
        <label for="remember" class="form-check-label">Recordarme</label>
      </div>


      <button class="btn btn-primary w-100" [disabled]="loading">
        {{ loading ? 'Ingresando…' : 'Ingresar' }}
      </button>


      <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
    </form>
  </div>
</div>
